@*@model IEnumerable<EBookStore.Models.Product>*@
@model ReflectionIT.Mvc.Paging.PagingList<EBookStore.Models.Product>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<div class="row pb-3 backgroundWhite">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <img src="@product.ImageUrl" class="card-img-bottom" alt="..." style="height: 37vh;">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@product.Title</h5>
                            <p class="card-text">Price Rs: <b class="">@product.Price100.ToString("0.00")</b></p>
                            <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">Details</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

    @*<nav>
            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
        </nav>*@
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
        </ul>
    </nav>
</div>
