<div class="row">
    <div class="col mt-2">
        <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
    <div class="col mt-2">
        <a asp-action="Index" class="btn btn-success form-control">Back</a>
    </div>

</div>
